.navbar-nav{
        background-color: white;
         /* padding-right: 40%;  */
        /* font-size: larger;     */
}
.nav-item{
    padding-inline-start: 3.1cm;
}

/* .nav-item_I{
margin:1px; 


} */

.container-fluid{
    margin-top:1%;
    margin-top:-2%; 
         
}
.border{
    height: 5%;
    width: 100%;
    margin: 0.1%; 
}
.dropdown-menu {

    padding-inline-start: 0.5cm;
    
}
.image{

        width: 4cm ;
}


/* Home css */

#body{
    background-color: #d3d3d3;
    height: 1092px;    
       
}

.span1{
      color: #f7444e;
      font-size: 90px;
      margin-inline-start: -50px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding-top: 200px;   
}
.span2{

    font-size: 90px;
    font-family:'Playfair Display', serif;
    font-weight: bold;
    margin-inline-start: -50px;
    line-height: 70px;
}

.p{

    text-align: justify;
    height: 30%;
    width: 40%;
    margin-left: 7%;
    line-height: 25px;
    padding: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}
.btn-box{
    padding: 6%;
}
.cover{

    inline-size: 80%;
     margin-inline-start: 110%;
    margin-block-start: -90%; 
    width: 142%;
    
}   

.header{
    position: fixed ;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

/* product css */

.img-fluid{   
    
    
    margin-inline-start: 36%;
    margin-top: 10%;
    margin-bottom: 10%;     
}

.card{
    width: 300px;
}
.card-title_1{
    background-color: #7fda69;    
}
.card-img-top{
    width: 100%;
}

/* Showprams code */
/* .card_1{

    background-color: #f7444e;
    margin-block-start: 5%;
    margin-inline-start: 15%;
    width: 80%;
    height: 900px;    

} */

/* cart  css */

.empty{
    margin-top: 80px;
}

.cart-1{

    margin-block-start: 2%;
    margin-right: 80%;  
    padding: 80px;
    margin-right: 1px;      
}
.cart_covering{
  margin: 5%;

}

.cart_cover{

  margin: 200px;
}
.Cart_butn{
  margin: 1%;
}


/* About css */
.card_1{

    width:100%;
    padding: 0%;
    margin-inline-start: 0%;
    margin-top: 5%; 
}

.About_page{

/* background-color:lightgreen; */
margin-right: 3%;
margin-right: 3%;
margin-inline-start: 3%;
font-size: x-large;

}

/*Contact css code */

.card_contact{

    margin-block-start: 10%;
    
}

/* About css within google fonts */

.oswald-uniquifier-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  .playfair-display-uniquifier-font{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: bold;
    font-size: medium;
    font-size: x-large;
  }

  .roboto-slab-uniquifier{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font: bolder;
  }

  /* About_css */
  .oswald-uniquifier-font_1{

    font-family: "Oswald", sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: weight; */
    font-style: normal;
    /* background-color: aqua; */
     /* margin-left: 5%; */
     
    margin-block-start: 25%; 
    text-align: center;
  }
  .oswald-uniquifier-font_2{

    font-family: "Oswald", sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: weight; */
    font-style: normal;
    background-color:#000080;
     /* margin-left: 5%; */
    margin-block-start: 35%; 
    text-align: center;
    height: 1100px;
    color: #fff;
    margin-inline-start: 0.7%;
    margin-right: 0.7%;
    padding-top: 1%;

  }
  .About_E{
    /* background-color:lightgreen; */
    margin-right: 3%;
    margin-right: 3%;
    margin-inline-start: 4%;
    font-size: x-large; 
    font-weight: 500;
    text-align: justify;
  }

  .imges_About{
    margin: 5%;
    display: flex;

    
  } 
  .container_1{
    
    background-color: #000080;
    margin-block-start:0%;
    margin-right: 0.0.5%;
    height: 30px;

  }

  /* Contacts css code */
  .Contact_title{

    margin-inline-start: 2%;
    text-align: justify;
    margin: 2%;
    
  }

  .Contact_head{

    margin: 5%;
  }

    .Contact_head_1{

        margin: 4%;
        text-align:justify;
        font-size: larger;
        font-weight: 500;
  }

/* .Contact_img{

  position: static;

} */